.clear-both{
	clear:both;
}
body{
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	font-family:Arial, Helvetica, sans-serif;
	background-color:#EAF4FF;
	font-size:12px;
}





#login_left{
	float:left;
	width:31%;
	text-align:right;
	border-right:medium solid #FFF;
	background-color:#5EAEFF;
	height:600px;
	padding-top:60px;
	padding-right:2%;
}

#login_left a, #login_right a, #header a, #footer a{
	color:#0080FF;
	text-decoration:none;
}

#login_left a:visited, #login_right a:visited, #header a:visited, #footer a:visited{
	color:#06C;
	text-decoration:none;
}

#login_left a:hover, #login_right a:hover, #header a:hover, #footer a:hover{
	text-decoration:underline;
	;
	color: #03C;
}
	

#login_right{
	float:left;
	text-align:left;
	width:62.7%;
	padding-left:2%;
	background-color:#1B77C7;
	height:660px;
	color:#FFF;
	padding-right:2%;
}

#login_form{
	margin-top:40px;
}

#login_form input.textinput {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 7px 0;
	padding-left:7px;
    width: 100%;
	border-radius:5px;
	
}


#login_form input.login_submit, #header input.logout_submit{
	background-color: #ffd71e;
	background-image: -moz-linear-gradient(center top , #ffd71e, #ffd71e);
	border: 1px solid #ffda32;
	color:#00C;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	height: 32px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
}


#login_form input.login_submit:hover, #header input.logout_submit:hover{
	background-color: #ffea8b;
	background-image: -moz-linear-gradient(center top , #ffea8b, #ffea8b);
	border: 1px solid #ffda32;
	color: #00c;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0s ease 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration:none;
}




#bar_left{
	float:left;
	width:15%;
	
	background-color:#1B77C7;
	padding:20px 10px;
	min-height:600px;
	color:#FFF;
	
	
}

#bar_left a, #bar_right a, #header a, #footer a{
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
}

#bar_left a:visited, #bar_right a:visited, #header a:visited, #footer a:visited{
	color:#FFF;
	text-decoration:none;
}

#bar_left a:hover, #bar_right a:hover, #header a:hover, #footer a:hover{
	text-decoration:underline;;
}



#bar_right a{
	color:#1b77c7;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
}

#bar_right a:visited{
	color:#1b77c7;
	text-decoration:none;
}

#bar_right a:hover{
	text-decoration:underline;;
}


#bar_right{
	float:left;
	width:82%;
	text-align:left;
	padding:10px 0px;
	font-size:14px;
	margin-left:5px;
	background-color:#FFF;
}

#bar_right input.textinput, #bar_right textarea.textinput {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 200px;
}

#bar_right select.textinput {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 200px;
}

#bar_right input.bar_right_submit{
	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	padding: 0 8px;
	text-align: center;
	height: 32px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
}


#bar_right input.bar_right_submit:hover{
	background-color: #357ae8;
	background-image: -moz-linear-gradient(center top , #4D90FE, #357ae8);
	border: 1px solid #2f5bb7;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0s ease 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration:none;
}


#bar_right input.bar_right_submit2{
	background-color: #D14836;
	background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
	border: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	padding: 0 8px;
	text-align: center;
	height: 32px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
}


#bar_right input.bar_right_submit2:hover{
	background-color: #357ae8;
	background-image: -moz-linear-gradient(center top , #DD4B39, #C53727);
	border: 1px solid #B0281A;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0s ease 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration:none;
}

.rec:hover{
	background-color:#FFE877;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }







.weatherFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin: 2em 3em;
	width: 280px;
}
.weatherFeed a { color: #888; }
.weatherFeed a:hover {
	color: #000;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity { text-transform: uppercase; font-size:1.5em; }
.weatherTemp {
	font-size: 2.8em;
	font-weight: bold;
	color:#ffd71e;
}
.weatherDesc, .weatherCity, .weatherForecastDay  { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; font-size:1.25em; color:#ffd71e; }
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem { font-size: 0.8em; }
.weatherLink, .weatherForecastItem {
	margin-top: 0.5em;
	text-align: left;
}
.weatherForecastItem {
	padding: 0.5em 0.5em 0.5em 80px;
	background-color: #fff;
	background-position: left center;
}
.weatherForecastDay { font-size: 1.1em; }

.odd {  }
.even { background-color: #d4d4e8; }



#quranverse a{
	color:#FFF !important;
}

	
