.clear-both{
	clear:both;
}
body{
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	font-family:Arial, Helvetica, sans-serif;
	background-color:#EAF4FF;
	font-size:12px;
}




#login_left{
	float:left;
	width:46%;
	text-align:right;
	padding-right:2em;
	border-right:medium solid #CCC;
	background-color:#F2F2F2;
	height:500px;
	padding-top:100px;
}

#login_left a, #login_right a, #header a, #footer a{
	color:#0080FF;
	text-decoration:none;
}

#login_left a:visited, #login_right a:visited, #header a:visited, #footer a:visited{
	color:#06C;
	text-decoration:none;
}

#login_left a:hover, #login_right a:hover, #header a:hover, #footer a:hover{
	text-decoration:underline;;
}
	

#login_right{
	float:right;
	width:46%;
	text-align:left;
	padding-left:2em;
}

#login_form{
	margin-top:170px;
	width:350px;
}

#login_form input.textinput {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 7px 0;
	padding-left:7px;
    width: 100%;
}


#login_form input.login_submit, #header input.logout_submit{
	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	height: 32px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
}


#login_form input.login_submit:hover, #header input.logout_submit:hover{
	background-color: #357ae8;
	background-image: -moz-linear-gradient(center top , #4D90FE, #357ae8);
	border: 1px solid #2f5bb7;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0s ease 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration:none;
}



#bar_left{
	float:left;
	width:170px;
	border-right:medium solid #CCC;
	background-color:#F2F2F2;
	padding:20px 0px 20px 10px;
	border-bottom:medium solid #CCC;
}

#bar_left a, #bar_right a, #header a, #footer a{
	color:#0080FF;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
}

#bar_left a:visited, #bar_right a:visited, #header a:visited, #footer a:visited{
	color:#06C;
	text-decoration:none;
}

#bar_left a:hover, #bar_right a:hover, #header a:hover, #footer a:hover{
	text-decoration:underline;;
}
	

#bar_right{
	float:left;
	width:81%;
	text-align:left;
	padding:10px 0px;
	font-size:14px;
	margin-left:5px;
	margin-right:-190px;
}

#bar_right input.textinput, #bar_right textarea.textinput {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 200px;
}

#bar_right select.textinput {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 200px;
}




#bar_right input.lgin, #bar_right textarea.lgin {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 130px;
}

#bar_right select.lgin {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 150px;
}

#bar_right select.lgin2 {
    background:url(../images/backgrounds/textinputbg.gif) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    color: #000000;
    font-size: 13px;
    padding: 3px 0;
	padding-left:7px;
    width: 75px;
}




#bar_right input.bar_right_submit{
	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	padding: 0 8px;
	text-align: center;
	height: 32px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
}


#bar_right input.bar_right_submit:hover{
	background-color: #357ae8;
	background-image: -moz-linear-gradient(center top , #4D90FE, #357ae8);
	border: 1px solid #2f5bb7;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0s ease 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration:none;
}


#bar_right input.bar_right_submit2{
	background-color: #ff1d13;
	background-image: -moz-linear-gradient(center top , #ff1d13, #ff1d13);
	border: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px 2px 2px 2px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	padding: 0 8px;
	text-align: center;
	height: 32px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
}


#bar_right input.bar_right_submit2:hover{
	background-color: #357ae8;
	background-image: -moz-linear-gradient(center top , #ff1d13, #ff1d13);
	border: 1px solid #ff1d13;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0s ease 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration:none;
}

.rec:hover{
	background-color:#F2E1FD;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }






.mce-notification-warning{
	display: none !important;
}