.tipsy { padding: 5px; font-size: 12px; opacity: 0.6; filter: alpha(opacity=60); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); font-family:Verdana, Geneva, sans-serif; }
  .tipsy-inner { padding: 6px 8px 6px 8px; background-color:#000; color:#FFF; max-width: 150px; min-width:150px; text-align: left; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
  
