/* custom file input styles */
.jcf-file {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  background: #fff;
}

body.arb .jcf-file .jcf-real-element {
  left: 0;
  right: auto;
}

.jcf-file .jcf-real-element {
  position: absolute;
  font-size: 200px;
  height: 106px;
  width: 110px;
  margin: 0;
  right: 0;
  top: 0;
}

.jcf-file .jcf-fake-input {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid #777;
  padding: 0 8px;
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  width: 125px;
}

.jcf-file .jcf-upload-button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #777;
  margin: 0 0 0 -1px;
  padding: 0 10px;
  line-height: 28px;
  height: 28px;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@-moz-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@-ms-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@-o-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: slide-down 5s 3;
  -moz-animation: slide-down 5s 3;
  -ms-animation: slide-down 5s 3;
  -o-animation: slide-down 5s 3;
  animation: slide-down 5s 3;
}

.list, .seats {
  margin: 0;
  padding: 0;
  list-style: none;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


.font-resize-helper {
  display: none;
}


#wrapper {
  margin: 10px auto;
  overflow: hidden;
  max-width: 200px;
  /*padding: 20px 10px;*/
  /*min-height: 500px;*/
  position: relative;
  border-radius: 10px;
  border: 2px solid #000;
}

#wrapper h1 {
  color: #1c2a47;
  margin: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
}

.seats {
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
}

.seats li {
  overflow: hidden;
}

.seats .chair {
  width: 20%;
  float: left;
  padding: 1px;
}

.volvo .chair {
  width: 25% !important;
}

.ac_bus .chair{
  width: 16% !important;
}

.premium .chair{
  width: 25% !important;
}

.lux .chair{
  width: 20% !important;
}

.coaster .chair{
  width: 20% !important;
}

.haice .chair{
  width: 25% !important;
}

.haice li{
  margin-bottom: 10px;
}

.haice .chair button {
  width: 42px !important;
  height: 42px !important;
}

.seats .chair button {
  border: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  display: block;
  position: relative;
  transition: all 0.3s linear;
  background: url(../images/seat.png) no-repeat;
  background-size: 100%;
}

.seats .chair button:hover {
  background: url(../images/seat-hover.png) no-repeat;
  background-size: 100%;
  transition: all 0.3s linear;
  z-index: 1;
}

.seats .chair button span {
  top: 10px;
  left: 0;
  right: 0;
  line-height: 10px !important;
  position: absolute;
  font-size: 12px !important;
  z-index: -999;
}

.seats .chair button span:hover {
  z-index: 1;
}
.seats .chair.empty {
  visibility: hidden;
}

.seats .chair.reserved button {
  background: url(../images/seat1.png) no-repeat;
  background-size: 100%;
  cursor: default;
}

.seats .chair.unreserved button {
  background: url(../images/seat2.png) no-repeat;
  background-size: 100%;
}

.mdl-typography--text-center{
  min-height: 700px !important;
}
